pytorch-lightning
pytorch-metric-learning
torch
torchvision
faiss-gpu
hydra-core>=1.2.0
hydra-colorlog
python-dotenv
rich
sh
pudb
tables
wandb
numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
tqdm
pyarrow
rich
tables
torchmetrics